.search-btn {
    background-color: #00303f !important;
    color: white;
    border: none;
    margin-top:6px;
    /* margin-left: 0px; */
  }

  .labels{
    top: -6px;
    font-size: 0.75em;
    color: #009688;
    font-weight: bold;
  }

 .placement-card{
   display: inline-block;
 }
 .card-list{
   display: inline-block;
   border-radius: 4px;
  box-shadow: 3px 5px maroon ;
  }
  .faculty-list{
    display: block;
  

  }

  .button-change
  {
    display: block;
  }
  .modal-body{
    height: 250px !important;
  }
  .element.style{
    margin-top:20%;
  }
  .sc{
    max-height: 620px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .text-left
{
  text-align: left;
}
.text-cap{
  text-transform: capitalize;
}
.font-weight-bold{
  font-weight: bold;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(50%,50%); */
}
