<div class="container">
    <div class="row ">
        <div class="container ">
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label class="labels">Select year</mat-label>
                    <mat-select name="years" [(ngModel)]="SelectedYear">
                        <mat-option *ngFor="let y of academic" [value]="y">{{y}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <select class="form-control" name="Year" [(ngModel)]="SelectedYear">
                    <option>Select Year</option>
                    <option *ngFor = "let y of academic"  >{{y}}</option>
                </select> -->
            </div>
            <div class="col-md-2" *ngIf="userRoles.includes('PRINCIPAL')">
                <mat-form-field>
                    <mat-label class="labels">Select Department</mat-label>
                    <mat-select name="years" [(ngModel)]="selectedDepatment">
                        <mat-option *ngFor="let y of departments" [value]="y">{{y}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <select class="form-control" name="Year" [(ngModel)]="SelectedYear">
                    <option>Select Year</option>
                    <option *ngFor = "let y of academic"  >{{y}}</option>
                </select> -->
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label class="labels">Select sem</mat-label>
                    <mat-select name="sems" [(ngModel)]="SelectedSem">
                        <mat-option *ngFor="let y of semester" [value]="y">{{y}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <select class="form-control" name="sem" [(ngModel)]="SelectedSem">
                    <option>Select Semester</option>
                    <option *ngFor = "let y of semester"  >{{y}}</option>
                </select> -->
            </div>
            <!-- <div class="col-md-3">
                <button type="button" class="btn btn-default" (click)="onSearch()">
                    <span class="glyphicon glyphicon-search"></span> Search
                  </button>
            </div> -->

            <div class="col-md-6">
                <button class="btn btn-primary search search-btn" (click)="onSearch()">
                    <i class="fa fa-search ml-0"></i> Search
                </button>

            </div>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row" *ngIf="offers && offers.length >0">
        <div class="col-md-2" *ngFor="let o of offers">
            <div class="card-list">
                <mat-card class="placement-card">
                    <mat-card-header>
                        <mat-card-title>Company : {{o[0]}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Role : Software Engineer<br>
                        Salary : {{o[1]}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div id="" class="col-sm-2 faculty-list text-left" *ngIf="userRoles.includes('HOD') || userRoles.includes('PRINCIPAL')">
        <div *ngIf="allFaculties && allFaculties.length>0" class="h4 font-weight-bold">Faculties <br><br><input class="form-control" type="text" [(ngModel)]="searchStr" (input)="updateFacultyList()"></div>
        <div class="sc" id="fac">
            <button class="mt-4 btn btn-primary btn-md btn-block button-change text-left text-uppercase" *ngFor="let faculty of faculties"
            (click)="getEmpChart(faculty['employeeGivenId'])">{{faculty['name']}}</button>
        </div>
    </div>
    <div class="col-sm-10" *ngIf="chart_visibility">
        <div *ngIf="firstLevelChart">
            <p class="page-title"><b>{{title}}</b></p>
            <google-chart [data]='firstLevelChart' (chartSelect)="second_level($event)">
            </google-chart>
        </div>
    </div>
    <div class="col-sm-10 center" *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="col-sm-10" *ngIf="error_flag">
    <div class="col-sm-10 center" *ngIf="error_flag">
        <h2>Data Not Found !!</h2>
    </div>
   
</div>


<!-- Modal -->
<div class="modal  fade" #iaMarks id="iaMarks" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true" data-backdrop="static" data-keyboard="false" *ngIf="selectedSubject">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Internal Assessment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h5"> <b>Subject : </b> {{selectedSubject}}</div>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <th>IA Number</th>
                        <th>Max Marks</th>
                        <th>Marks Obtained</th>
                    </tr>
                    <tr *ngFor="let m of markDetails">
                        <td>{{m[0]}}</td>
                        <td>{{m[1]}}</td>
                        <td>{{m[2]}}</td>
                    </tr>
                </table>
                <hr>
                <div *ngIf="placementDetails && !userRoles.includes('STUDENT')">
                    <div class="col-sm-4"><b># Students : </b>{{placementDetails[0]}}</div>
                    <div class="col-sm-4"><b># Placed Students : </b>{{placementDetails[1]}}</div>
                    <div class="col-sm-4"><b># Offers : </b>{{placementDetails[2]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>